@import 'bootstrap';

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// General
body, html, #root, .app {
    height: 100%;
}

// Navbar
.navbar {
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    background-color: black;
    // need to apply this font to rest of Home page (minus editor)
    font-family: 'Nunito Sans', sans-serif;
}

.navbar > span {
    font-weight: bold;
}

.logout-button:hover {
    cursor: pointer;
}

.signed-in-as {
    padding-right: 20px;
}
// 
.get-started {
    overflow: hidden;
    text-align: center;
    color: gray;
    margin-top: 50px;
  }
  
  .get-started:before,
  .get-started:after {
    background-color: gray;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 15%;
  }
  
  .get-started:before {
    right: 0.5em;
    margin-left: -50%;
  }
  
  .get-started:after {
    left: 0.5em;
    margin-right: -50%;
  }

//   Login
.login-parent {
    display: flex;
    justify-content: center;
    min-height: 80%;
}

.login {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 40px;
    margin-top: 100px;
    font-family: 'Nunito Sans', sans-serif;
}

.buttons-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons-div > a {
    margin-bottom: 10px;
}

.btn-google, .btn-github {
    width: 215.252px;
}

// Home
.home {
    background-color: #363636;
}

.home-body {
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

.button-and-output {
    display: flex;
    flex-direction: column;
}

.output {
    height: 80vh;
    width: 40vw;
    background-color: black;
}

.run-button {
    background: darkblue;
    color: white;
    border: 1px solid black;
    border-radius: 2px;
    margin: 10px 30px;
}

.run-button:hover {
    cursor: pointer;
}