@import 'bootstrap';

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// General
body, html, #root, .app {
    height: 100%;
}

body {
    background-color: black;
}

// Navbar
.navbar {
    border-bottom: 1px solid black;
    background-color: black;
    font-family: 'Nunito Sans', sans-serif;
}

.navbar > span {
    font-weight: bold;
}

.logout-button:hover {
    cursor: pointer;
}

.signed-in-as {
    padding-right: 20px;
}
// 
.get-started {
    overflow: hidden;
    text-align: center;
    color: gray;
    margin-top: 50px;
  }
  
  .get-started:before,
  .get-started:after {
    background-color: gray;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 15%;
  }
  
  .get-started:before {
    right: 0.5em;
    margin-left: -50%;
  }
  
  .get-started:after {
    left: 0.5em;
    margin-right: -50%;
  }

//   Login
.login-parent {
    display: flex;
    justify-content: center;
    height: 100%;
    background: linear-gradient(to right, black, red, black)
}

.login {
    border: 1px solid lightgray;
    background: white;
    border-radius: 5px;
    padding: 40px;
    margin-top: 100px;
    font-family: 'Nunito Sans', sans-serif;
    height: 60%;
}

.login-h1 {
    color: red;
    font-weight: bold;
}

.buttons-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons-div > a {
    margin-bottom: 10px;
}

.btn-google, .btn-github, .btn-linkedin {
    width: 215.252px;
}

// Home and Snippet
.home {
    background-color: #363636;
    height: 100%;
    overflow: hidden;
}

.home-body {
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 20px;
    background-color: #363636;
}

.home-h1 {
    color: red;
    margin-bottom: 40px;
}

.home-text {
    padding: 40px;
    padding-top: 200px;
    margin-top: 10px;
    font-family: 'Nunito Sans', sans-serif;
    height: 90vh;
}

.home-p {
    font-size: 20px;
}

.editor-and-output {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.editor-and-output-div {
    display: flex;
    justify-content: center;
}

.button-div {
    width: 500px;
}

.label-div {
    width: 400px;
    margin-left: 30px;
    padding-top: 5px;
    font-family: 'Nunito Sans', sans-serif;
}

.button-and-label-div {
    display: flex;
    justify-content: center;
}

.label {
    float: right;
    color: #17a2b8;
}

.output {
    height: 500px;
    width: 400px;
    background-color: black;
    padding: 5px;
    overflow-wrap: break-word;
    margin-left: 30px;
}

.run-button {
    background: #212529;
    color: white;
    border: 1px solid black;
    border-radius: 2px;
    height: 40px;
    width: 80px;
    margin: 10px 0px;
}

.run-button:hover {
    cursor: pointer;
    background: white;
    color: #212529;
}

// Sidebar
.wrapper {
    display: flex;
    align-items: stretch;
    overflow-y: scroll;
    max-height: 100vh;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    // min-height: 100vh;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    // background: #7386D5;
    background: #212529;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #212529;
}

#sidebar ul.components {
    padding: 20px 0;
    // border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a, .custom-li button {
    color: white;
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover, .custom-li button:hover {
    color: #212529;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #212529;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #212529;
}

// .search-btn {
//     width: 200px;
// }

.custom-li button {
    width: 100%;
    text-align: start;
}

// .custom-li:hover {
//     color: #7386D5;
//     background: #fff;
// }